/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@700&family=Poppins:wght@500&display=swap');


/* common styles */
body {

    font-family: 'Poppins', sans-serif;





}

main {

    display: flex;
    align-items: center;
    flex-direction: column;




}


/* Top Banner Styles */

.top-banner-container {

    width: 1400px;
    height: 646px;
    border-radius: 30px;
    background-color: #161616;
    display: flex;



    align-items: center;

    margin-bottom: 100px;
    margin-left: 0%;



}

.main-banner {


    position: absolute;
    width: 1100px;
    height: 624px;

    top: 50px;


    margin-left: 150px;
    display: flex;
    justify-content: center;
    gap: 100px;


}



.banner-blog {
    /* margin-top: 60px;
    margin-bottom: 111px; */
    /* margin-left: 20px; */
    width: 800px;
    /* padding: 20px; */
    height: 600px;
}

.banner-title {
    font-weight: 700;
    font-size: 60px;
    color: #FFFFFF;



}

.banner-article {

    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    text-align: left;

}

.button {
    background-color: #DD0000;
    width: 187px;
    height: 56px;
    padding: 16px 25px;
    gap: 10px;
    border-radius: 5px;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
    margin-top: 10px;

}

.button:hover {
    background-color: #FFFFFF;
}

.banner-thumble {

    width: 990px;
    height: 550px;

}

.banner-thumble img {


    width: 200ppx;
    height: 513px;



}

/* ..........Adding animation............. */

.messi:hover {

    transform: rotate(30deg);
    transform-origin: top bottom;
    transition-duration: 2s;

}

/* .....................
Blog containner section 
........................*/


.blog-unlimited {
    justify-items: center;

    width: 1400px;



}


.blog-container {
    display: flex;

    gap: 24px;

    justify-items: center;
    padding: 0%;
    margin-left: 0%;

}

/*  fixed-blog */


.fixed-blog {


    height: 360px;
    width: 312px;
    border-radius: 10px;
    /* margin: 30px 30px; */
    background-color: #161616;
}

.option {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.blog-button:hover {
    background-color: #DD0000;
}

.blog-button {
    width: 252px;
    height: 64px;
    margin-top: 30px;
    border-radius: 10px;
    border: 0cm;
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    color: #161616;
}

/* .selected-button {
    background-color: #DD0000;
} */

/*................... Partial blog css 
........................................................*/

.partial-blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* gap: 24px; */
    width: 1400px;
    /* justify-items: center; */
    grid-column-gap: 24px;
    grid-row-gap: 24px;



}

.partial-blog {


    box-shadow: 5px 5px 5px rgb(136, 133, 130);
    background-color: #ece8e8e3;
    width: 312px;
    height: 362px;
    border-radius: 10px;
    border: 1px solid #665f5f;
    padding: 10px;

}

.partial-blog-img img {
    border-radius: 10px;
    width: 100%;
}

.partial-blog-button {
    margin-top: 15px;
    margin-bottom: 15px;
}

.partial-blog-article p {
    width: 272px;
    height: 54px;
}

.partial-blog-info i {

    margin-right: 20px;
    color: #444141e8;

}

.partial-blog-info {

    font-size: 14px;
}

/* Footer css style 
...................
...................

*/

.footer {
    background-color: #161616;
    width: 1400px;
    margin-top: 40px;
    border-radius: 10px;

}

h1 {
    color: #FFFFFF;
    font-weight: 900;
    text-align: center;
}

span {
    color: #FFFFFF;


}

.inside-footer {
    margin-bottom: 50px;

    text-align: center;
}

.logo {

    color: #ffffff;
}

.logo i {
    color: #ffffff;
    margin: 10px;
}



/* ............................................Media Querese.................................... */


/* .........For device...... */

@media only screen and (max-width:578px) {
    .top-banner-container {
        width: 350px;
        /* margin-left: 5px; */
        height: 1000px;
        margin-left: 20px;




    }

    .main-banner {

        margin-left: 10%;
        /* padding: 5%; */
        width: 340px;
        height: 910px;
        display: grid;
        flex-direction: column;
        margin-top: 0%;


    }



    .banner-blog {
        margin-left: 0%;
        width: 330px;
        height: 400px;


    }

    .banner-title {
        grid-template-columns: repeat(1, 1fr);
        font-size: 20px;

        font-weight: 900px;
        text-align: center;



    }

    .banner-article {
        margin-top: 40px;
        height: 220px;
        /* padding: 10px; */

        text-align: center;
        font-size: medium;
        text-align: justify;
    }

    .button {

        width: 180px;
        height: 56px;
        margin-left: 90px;
        background-color: #DD0000;


    }


    .banner-thumble {



        height: 420px;
        width: 400px;





    }

    .banner-thumble img {
        height: 400px;
        width: 300px;
        margin-left: 20px;
    }


    /* partial blog */

    .blog-unlimited {
        width: 400px;

        margin-left: 20px;
        margin-left: 50px;
        height: 4200px;


    }

    .blog-container {

        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 480px;
        /* height: 1200px; */
        margin: 0%;



    }

    .partial-blogs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 480px;
        /* margin-left: 5px; */
        height: 500px;
        margin-top: 10px;

    }

    .partial-blog {
        width: 300px;
        /* margin-left: 30px; */
    }

    /* fixed-blog */



    .fixed-blog {
        background-color: #FFFFFF;
        width: 540px;
        height: 480px;
        padding: 0%;
        margin-left: 10%;
    }

    .option {
        flex-direction: column;
    }

    #special {
        background-color: #DD0000;
    }


    .blog-button {
        background-color: #bbb5b5;
    }




    /* footer */


    .footer {
        width: 360px;

        margin-left: 5px;
        margin-top: 10px;
        height: 380px;
    }

    .inside-footer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }

    .footer span {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }




}


/* .........For Tablet...... */

@media only screen and (min-width:579px) and (max-width:992px) {
    .top-banner-container {
        width: 850px;
        height: 706px;
        margin-left: 0px;
        margin-right: 30px;
    }

    .main-banner {
        width: 650px;
        gap: 30px;
        margin: 20px;
        margin-left: 100px;
    }

    .banner-blog {
        width: 530px;
        height: 700px;
        margin-top: 30px;


    }

    .banner-title {
        font-size: 40px;
    }

    .banner-article {
        font-size: 15px;
        text-align: justify;
    }

    .banner-thumble {
        height: 620px;
        width: 600px;

    }

    .banner-thumble img {
        width: 300px;
        height: 500px;
    }

    /* .partial-blogs */


    .blog-unlimited {
        width: 650px;

        margin-right: 140px;

        height: 2200px;
        margin-left: 0px;


    }

    .blog-container {

        display: grid;
        /* grid-template-columns: repeat(2, 1fr); */
        width: 140px;
        /* height: 1200px; */
        margin-left: 0%;



    }

    .partial-blogs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 380px;
        /* margin-left: 5px; */
        height: 300px;
        margin-top: 10px;

    }

    .partial-blog {
        width: 250px;
        height: 350px;
    }

    /* fixed-blog */



    .fixed-blog {
        background-color: #FFFFFF;
        width: 540px;
        height: 150px;
        padding: 0%;
        margin-left: 30%;
    }

    .option {
        flex-direction: row;
        gap: 20px;
    }

    #special {
        background-color: #DD0000;
    }


    .blog-button {
        background-color: #bbb5b5;
    }

    /* ......Adding Button 
    ............................*/





    /* footer for tablet */


    .footer {
        width: 100%;

        margin-right: 10px;
        margin-top: 10px;
        height: 380px;
    }

    .inside-footer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

        /* flex-wrap: wrap; */
    }

    footer {

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

        /* display: flex;
        flex-direction: column; */


    }

    .logo {
        margin-top: 20px;
    }

}